<div class="modal-header">
    <h3 class="modal-title">Fiche d'observation</h3>
</div>

<div class="modal-body">
    <form>
        <fieldset>
            <legend>Accueil</legend>
            <label>Commentaire</label><br/>
            <textarea class="form-control" ng-model="welcomeEvent.comment"></textarea>
        </fieldset>
        <fieldset>
            <legend>Lunch</legend>
            <select class="form-control" ng-model="lunchEvent.result">
                <option>Mange peu</option>
                <option>Mange correctement</option>
                <option>Mange beaucoup</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>Snack</legend>
            <select class="form-control" ng-model="snackEvent.result">
                <option>Mange peu</option>
                <option>Mange correctement</option>
                <option>Mange beaucoup</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>Sieste</legend>
            <label for="startTime">De:</label>
            <input type="time" ng-model="napEvent.startTime"/>
            <label for="endTime"> à:</label>
            <input type="time" ng-model="napEvent.endTime" />
            <br/>
            <label>Commentaire</label><br />
            <textarea class="form-control" ng-model="napEvent.comment"></textarea>
        </fieldset>
        <fieldset>
            <legend>Selles</legend>
            <label for="comment">Commentaire</label><br />
            <textarea class="form-control" ng-model="poohEvent.comment"></textarea>
        </fieldset>
        <fieldset>
            <legend>Observation</legend>
            <label for="comment">Commentaire</label><br />
            <textarea class="form-control" ng-model="observationEvent.comment"></textarea>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="observation.ok()">OK</button>
    <button class="btn btn-warning" ng-click="observation.cancel()">Annuler</button>
</div>